body {
	margin: 0;
	font-family: "Helvetica Neue";
	font-size: 16px;
	color: #FFF;
	background-color: #242424;
}

.landing {
	width: 100vw;
	height: 100vh;
}

.landing_wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title_wrapper {
	text-align: center;
}

.title_wrapper > h1 {
	font-size: 46px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #FFF;
}

.title_wrapper > button {
	background-color: #FFF;
	border: none;
	outline: none;
	font-size: 16px;
	text-transform: uppercase;
	padding: 10px 20px;
}

video {
	width: 100%;
}

.video {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.video_wrapper {
	position: relative;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video_item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	color: blue;
}

.switch_wrapper {
	z-index: 100;
	position: absolute;
	top:0;
	left: 0;
}

.video_one {
	z-index: 0;
}

.video_two {
	z-index: 0;
}

.video_active {
	z-index: 10;
}

.video_three {
}